.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 50px;
}

.item-1 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.item-5 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.item-6 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.item-7 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
body {
    background-color: rgb(226, 248, 145);
}


img{
    border: 2px black solid;
}