.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.item-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.item-8 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.item-9 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
body {
    background-color: rgb(137, 243, 217);
}


img{
    border: 2px black solid;
}