.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.item-10 {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
}

.item-14 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.item-15 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
body {
    background-color: rgb(233, 111, 178);
}


img{
    border: 2px black solid;
}