.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.item-17 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.item-18 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.item-19 {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
}

.item-20 {
    grid-column: 6 / 7;
    grid-row: 1 / 2;
}
body {
    background-color: rgb(188, 236, 125);
}


img{
    border: 2px black solid;
}