.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    height: 800px;
}

.item-21 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.item-22 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.item-23 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}
body {
    background-color: rgb(236, 159, 87);
}


img{
    border: 2px black solid;
}